In [1]:
import datetime

In [2]:
td = datetime.timedelta(weeks=1, days=1, hours=1, minutes=1,
                        seconds=1, milliseconds=1, microseconds=1)
print(td)

8 days, 1:01:01.001001

In [3]:
print(type(td))

<class 'datetime.timedelta'>

In [4]:
print(datetime.timedelta(days=0.5, hours=-6, minutes=120))

8:00:00

In [5]:
print(td.days)
print(type(td.days))

8
<class 'int'>

In [6]:
print(td.seconds)
print(type(td.seconds))

3661
<class 'int'>

In [7]:
print(td.microseconds)
print(type(td.microseconds))

1001
<class 'int'>

In [8]:
print(td.total_seconds())

694861.001001

In [9]:
print(type(td.total_seconds()))

<class 'float'>

In [10]:
s = str(td)
print(s)

8 days, 1:01:01.001001

In [11]:
print(type(s))

<class 'str'>

In [12]:
td = datetime.timedelta(days=1, hours=1, milliseconds=100)
sec = td.total_seconds()
print(sec)

90000.1

In [13]:
print(type(sec))

<class 'float'>

In [14]:
sec = datetime.timedelta(days=1, hours=1, milliseconds=100).total_seconds()
print(sec)

90000.1

In [15]:
td = datetime.timedelta(seconds=123456.789)
print(td)

1 day, 10:17:36.789000

In [16]:
s = str(td)
print(s)

1 day, 10:17:36.789000

In [17]:
print(type(s))

<class 'str'>

In [18]:
print(td.days)

1

In [19]:
print(td.seconds)

37056

In [20]:
print(td.microseconds)

789000

In [21]:
def get_h_m_s(sec):
    m, s = divmod(sec, 60)
    h, m = divmod(m, 60)
    return h, m, s

In [22]:
print(get_h_m_s(td.seconds))

(10, 17, 36)

In [23]:
print(type(get_h_m_s(td.seconds)))

<class 'tuple'>

In [24]:
h, m, s = get_h_m_s(td.seconds)
print(h)

10

In [25]:
print(m)

17

In [26]:
print(s)

36

In [27]:
def get_d_h_m_s_us(sec):
    td = datetime.timedelta(seconds=sec)
    m, s = divmod(td.seconds, 60)
    h, m = divmod(m, 60)
    return td.days, h, m, s, td.microseconds

In [28]:
print(get_d_h_m_s_us(123456.789))

(1, 10, 17, 36, 789000)

In [29]:
print(get_d_h_m_s_us(123.456789))

(0, 0, 2, 3, 456789)

In [30]:
td_m = datetime.timedelta(seconds=-123456.789)
print(td_m)

-2 days, 13:42:23.211000

In [31]:
print(td_m.days)

-2

In [32]:
print(td_m.seconds)

49343

In [33]:
print(td_m.microseconds)

211000

In [34]:
print(td_m.total_seconds())

-123456.789

In [35]:
print(get_d_h_m_s_us(-123456.789))

(-2, 13, 42, 23, 211000)

In [36]:
print(abs(td_m))

1 day, 10:17:36.789000

In [37]:
print(get_d_h_m_s_us(abs(-123456.789)))

(1, 10, 17, 36, 789000)