In [1]:
d = {'k1': 1, 'k2': 2}

In [2]:
d['k3'] = 3
print(d)

{'k1': 1, 'k2': 2, 'k3': 3}

In [3]:
d['k1'] = 100
print(d)

{'k1': 100, 'k2': 2, 'k3': 3}

In [4]:
d = {'k1': 1, 'k2': 2}

In [5]:
d.update(k1=100, k3=3, k4=4)
print(d)

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}

In [6]:
# d.update(k3=3, k3=300)
# SyntaxError: keyword argument repeated: k3

In [7]:
# d.update(k-3=3)
# SyntaxError: expression cannot contain assignment, perhaps you meant "=="?

In [8]:
# d.update(4=400)
# SyntaxError: expression cannot contain assignment, perhaps you meant "=="?

In [9]:
d = {'k1': 1, 'k2': 2}

In [10]:
d['k-3'] = 3
d[4] = 400
print(d)

{'k1': 1, 'k2': 2, 'k-3': 3, 4: 400}

In [11]:
d = {'k1': 1, 'k2': 2}

In [12]:
d.update([('k1', 100), ('k3', 3), ('k4', 4)])
print(d)

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}

In [13]:
d = {'k1': 1, 'k2': 2}

In [14]:
keys = ['k1', 'k3', 'k4']
values = [100, 3, 4]

In [15]:
d.update(zip(keys, values))
print(d)

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}

In [16]:
d = {'k1': 1, 'k2': 2}

In [17]:
d.update([('k3', 3), ('k3', 300)])
print(d)

{'k1': 1, 'k2': 2, 'k3': 300}

In [18]:
d = {'k1': 1, 'k2': 2}

In [19]:
keys = ['k3', 'k3']
values = [3, 300]

In [20]:
d.update(zip(keys, values))
print(d)

{'k1': 1, 'k2': 2, 'k3': 300}

In [21]:
d1 = {'k1': 1, 'k2': 2}
d2 = {'k1': 100, 'k3': 3, 'k4': 4}

In [22]:
d1.update(d2)
print(d1)

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}

In [23]:
d1 = {'k1': 1, 'k2': 2}
d2 = {'k1': 100, 'k3': 3, 'k4': 4}
d3 = {'k5': 5, 'k6': 6}

In [24]:
# d1.update(d2, d3)
# TypeError: update expected at most 1 arguments, got 2

In [25]:
d1.update(**d2, **d3)
print(d1)

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

In [26]:
d1 = {'k1': 1, 'k2': 2}
d2 = {'k1': 100, 'k3': 3, 'k4': 4}
d3 = {'k5': 5, 'k6': 6}

In [27]:
# d3.update(**d1, **d2)
# TypeError: dict.update() got multiple values for keyword argument 'k1'