In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.4

In [3]:
df = pd.read_csv('data/src/sample_pandas_normal.csv')
df.iloc[1] = float('nan')
print(df)

      name   age state  point
0    Alice  24.0    NY   64.0
1      NaN   NaN   NaN    NaN
2  Charlie  18.0    CA   70.0
3     Dave  68.0    TX   70.0
4    Ellen  24.0    CA   88.0
5    Frank  30.0    NY   57.0

In [4]:
print(df['state'].unique())

['NY' nan 'CA' 'TX']

In [5]:
print(type(df['state'].unique()))

<class 'numpy.ndarray'>

In [6]:
print(df['state'].value_counts())

state
NY    2
CA    2
TX    1
Name: count, dtype: int64

In [7]:
print(type(df['state'].value_counts()))

<class 'pandas.core.series.Series'>

In [8]:
print(df['state'].value_counts(dropna=False))

state
NY     2
CA     2
NaN    1
TX     1
Name: count, dtype: int64

In [9]:
print(df['state'].value_counts(dropna=False, ascending=True))

state
NaN    1
TX     1
NY     2
CA     2
Name: count, dtype: int64

In [10]:
print(df['state'].value_counts(dropna=False, sort=False))

state
NY     2
NaN    1
CA     2
TX     1
Name: count, dtype: int64

In [11]:
print(df['state'].value_counts(normalize=True))

state
NY    0.4
CA    0.4
TX    0.2
Name: proportion, dtype: float64

In [12]:
print(df['state'].value_counts(dropna=False, normalize=True))

state
NY     0.333333
CA     0.333333
NaN    0.166667
TX     0.166667
Name: proportion, dtype: float64

In [13]:
print(df['state'].nunique())

3

In [14]:
print(type(df['state'].nunique()))

<class 'int'>

In [15]:
print(df['state'].nunique(dropna=False))

4

In [16]:
print(df.nunique())

name     5
age      4
state    3
point    4
dtype: int64

In [17]:
print(type(df.nunique()))

<class 'pandas.core.series.Series'>

In [18]:
print(df.nunique(dropna=False))

name     6
age      5
state    4
point    5
dtype: int64

In [19]:
print(df.nunique(dropna=False, axis='columns'))

0    4
1    1
2    4
3    4
4    4
5    4
dtype: int64

In [20]:
print(df['state'].nunique())

3

In [21]:
print(df.nunique())

name     5
age      4
state    3
point    4
dtype: int64

In [22]:
print(df['state'].unique().tolist())

['NY', nan, 'CA', 'TX']

In [23]:
print(type(df['state'].unique().tolist()))

<class 'list'>

In [24]:
print(df['state'].value_counts().index.tolist())

['NY', 'CA', 'TX']

In [25]:
print(type(df['state'].value_counts().index.tolist()))

<class 'list'>

In [26]:
print(df['state'].value_counts().index.values)

['NY' 'CA' 'TX']

In [27]:
print(type(df['state'].value_counts().index.values))

<class 'numpy.ndarray'>

In [28]:
print(df['state'].value_counts(dropna=False).index.tolist())

['NY', 'CA', nan, 'TX']

In [29]:
vc = df['state'].value_counts()
print(vc)

state
NY    2
CA    2
TX    1
Name: count, dtype: int64

In [30]:
print(vc['NY'])

2

In [31]:
print(vc['TX'])

1

In [32]:
for index, value in df['state'].value_counts().items():
    print(index, value)

NY 2
CA 2
TX 1

In [33]:
d = df['state'].value_counts().to_dict()
print(d)

{'NY': 2, 'CA': 2, 'TX': 1}

In [34]:
print(type(d))

<class 'dict'>

In [35]:
print(d['NY'])

2

In [36]:
print(d['TX'])

1

In [37]:
for key, value in d.items():
    print(key, value)

NY 2
CA 2
TX 1

In [38]:
print(df['state'].value_counts())

state
NY    2
CA    2
TX    1
Name: count, dtype: int64

In [39]:
print(df['state'].value_counts().index[0])

NY

In [40]:
print(df['state'].value_counts().iat[0])

2

In [41]:
# print(df['age'].value_counts()[0])
# KeyError: 0

In [42]:
print(df['age'].value_counts().iat[0])

2

In [43]:
print(df.apply(lambda x: x.value_counts().index[0]))

name     Alice
age       24.0
state       NY
point     70.0
dtype: object

In [44]:
print(df.apply(lambda x: x.value_counts().iat[0]))

name     1
age      2
state    2
point    2
dtype: int64

In [45]:
print(df['state'].mode())

0    CA
1    NY
Name: state, dtype: object

In [46]:
print(df['state'].mode().tolist())

['CA', 'NY']

In [47]:
print(df['age'].mode().tolist())

[24.0]

In [48]:
s_list = df.apply(lambda x: x.mode().tolist())
print(s_list)

name     [Alice, Charlie, Dave, Ellen, Frank]
age                                    [24.0]
state                                [CA, NY]
point                                  [70.0]
dtype: object

In [49]:
print(type(s_list))

<class 'pandas.core.series.Series'>

In [50]:
print(s_list['name'])

['Alice', 'Charlie', 'Dave', 'Ellen', 'Frank']

In [51]:
print(type(s_list['name']))

<class 'list'>

In [52]:
print(df.mode())

      name   age state  point
0    Alice  24.0    CA   70.0
1  Charlie   NaN    NY    NaN
2     Dave   NaN   NaN    NaN
3    Ellen   NaN   NaN    NaN
4    Frank   NaN   NaN    NaN

In [53]:
print(df.astype('object').describe())

         name   age state  point
count       5   5.0     5    5.0
unique      5   4.0     3    4.0
top     Alice  24.0    NY   70.0
freq        1   2.0     2    2.0

In [54]:
print(df.astype('object').describe().loc['top'])

name     Alice
age       24.0
state       NY
point     70.0
Name: top, dtype: object