In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

In [3]:
df_empty = pd.DataFrame()
print(df_empty)

Empty DataFrame
Columns: []
Index: []

In [4]:
print(df_empty.empty)

True

In [5]:
df_full = pd.DataFrame({'A': [0, 1, 2]})
print(df_full)

   A
0  0
1  1
2  2

In [6]:
print(df_full.empty)

False

In [7]:
df_nan = pd.DataFrame({'A': [float('NaN'), float('NaN'), float('NaN')]})
print(df_nan)

    A
0 NaN
1 NaN
2 NaN

In [8]:
print(df_nan.empty)

False

In [9]:
print(df_nan.dropna())

Empty DataFrame
Columns: [A]
Index: []

In [10]:
print(df_nan.dropna().empty)

True

In [11]:
df_mix = pd.DataFrame({'A': [float('NaN'), float('NaN'), float('NaN')], 'B': [0, 1, 2]})
print(df_mix)

    A  B
0 NaN  0
1 NaN  1
2 NaN  2

In [12]:
print(df_mix.dropna())

Empty DataFrame
Columns: [A, B]
Index: []

In [13]:
print(df_mix.dropna(how='all'))

    A  B
0 NaN  0
1 NaN  1
2 NaN  2

In [14]:
s_empty = pd.Series()
print(s_empty)

Series([], dtype: object)

In [15]:
print(s_empty.empty)

True

In [16]:
s_full = pd.Series([0, 1, 2])
print(s_full)

0    0
1    1
2    2
dtype: int64

In [17]:
print(s_full.empty)

False

In [18]:
s_nan = pd.Series([float('NaN'), float('NaN'), float('NaN')])
print(s_nan)

0   NaN
1   NaN
2   NaN
dtype: float64

In [19]:
print(s_nan.empty)

False

In [20]:
print(s_nan.dropna())

Series([], dtype: float64)

In [21]:
print(s_nan.dropna().empty)

True

In [22]:
l_empty = []

In [23]:
print(bool(l_empty))

False

In [24]:
if not l_empty:
    print('Empty!')

Empty!

In [25]:
df_empty = pd.DataFrame()
print(df_empty)

Empty DataFrame
Columns: []
Index: []

In [26]:
# print(bool(df_empty))
# ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
print(df_empty.empty)

True

In [28]:
# if df_empty:
#     print('Empty!')
# ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
if df_empty.empty:
    print('Empty!')

Empty!

In [30]:
df = pd.DataFrame({'A': [0, 1, 2], 'B': ['aaa', 'bbb', 'ccc']})
print(df)

   A    B
0  0  aaa
1  1  bbb
2  2  ccc

In [31]:
print(df[df['A'] < 0])

Empty DataFrame
Columns: [A, B]
Index: []

In [32]:
print(df[df['A'] < 0].empty)

True

In [33]:
print(df.query('A < 0'))

Empty DataFrame
Columns: [A, B]
Index: []

In [34]:
print(df.query('A < 0').empty)

True