In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

In [3]:
df = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0).head(3)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70

In [4]:
df.to_csv('data/dst/to_csv_out.csv')

In [5]:
df.to_csv('data/dst/to_csv_out_columns.csv', columns=['age', 'point'])

In [6]:
df.to_csv('data/dst/to_csv_out_header_index.csv', header=False, index=False)

In [7]:
df.to_csv('data/dst/to_csv_out.tsv', sep='\t')

In [8]:
# df.to_csv('data/dst/to_csv_out.csv', mode='x')
# FileExistsError: [Errno 17] File exists: 'data/dst/to_csv_out.csv'

In [9]:
df.to_csv('data/dst/to_csv_out_a.csv')
df.to_csv('data/dst/to_csv_out_a.csv', mode='a', header=False)

In [10]:
df.to_csv('data/dst/to_csv_out_a_new_column.csv')

In [11]:
df_new = pd.read_csv('data/dst/to_csv_out_a_new_column.csv', index_col=0)
print(df_new)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70

In [12]:
df_new['new_col'] = 'new data'
print(df_new)

         age state  point   new_col
name
Alice     24    NY     64  new data
Bob       42    CA     92  new data
Charlie   18    CA     70  new data

In [13]:
df_new.to_csv('data/dst/to_csv_out_a_new_column.csv')

In [14]:
df_nan = df.copy()
df_nan.iat[0, 1] = float('nan')
df_nan.iat[1, 2] = float('nan')

In [15]:
print(df_nan)

         age state  point
name
Alice     24   NaN   64.0
Bob       42    CA    NaN
Charlie   18    CA   70.0

In [16]:
df_nan.to_csv('data/dst/to_csv_out_nan.csv')

In [17]:
df_nan.to_csv('data/dst/to_csv_out_nan_rep.csv', na_rep='NaN')